::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #c2c2c2;
    border: 3px solid transparent;
    background-clip: padding-box;
    border-radius: 5px;
}

::-webkit-scrollbar-track-piece {
    background: 0 0;
}